*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ------
Others for help
-------- */
body{
    font-family:'Poppins', sans-serif; ;
}
button{
    padding: 8px 24px;
    background-color: #E02C6D;
    border: none;
    color: #ffff;
}
button:hover{
    border: 1px solid #E02C6D;
    background-color: #ffff;
    color: #E02C6D;
}

/* --------
 header iteam start
----------- */

header{
    width: 100%;
    height: 640px;
    background-color: rgb(51, 16, 175);
}

.header-container{
    width: 80%;
    margin: auto;
}

/* ------header-top start------ */
.header-top-iteam{
    display: flex;
    justify-content: space-between;   
    align-items: center;
}
nav , .buttom{
    margin: 10px 0;
}
ul{
    list-style: none;
    display: flex;
}
ul li{
    margin: 10px;
}
ul li a{
    text-decoration: none;
    color: #ffff;
    font-size: 14px;
    font-weight: 700;
}
ul>i{
    display: none;
}

/* ------header-top End------ */

/* header main iteam start */

.header-main-iteam{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.header-main-iteam .text{
    flex-basis: 60%;
}
.header-main-iteam .text h1{
    font-size: 4rem;
    width: 70%;
    font-weight: bold;
    color: #ffff;
    font-family: 'Source Sans Pro', sans-serif;
    
}
.header-main-iteam img{
    width: 520px;
}
/* header main iteam end */

/* -----------
header iteam end
---------- */

/* <!---------------------
player information Start 
---------------------> */

.player-info{
    width: 70%;
    margin: 50px auto;
   display: flex;
   flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.021);
    
}
.player{
    width: 30%;
    height: 400px ;
    box-shadow: 10px 0px 5px  rgba(47, 47, 47, 0.062), 0px 10px 7px  rgba(47, 47, 47, 0.219), 7px 0px 5px rgba(47, 47, 47, 0.158);;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin:20px auto;
    
    
}
.player-img img{
    width: 260px;
    height: 200px;
    
}
.player-about h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin: 5px 8px;
    text-align: left;
    
    
}
.player-about p{
    width: 80%;
    font-size: 13px;
    margin: 5px 8px;
    text-align: justify;
    color: rgb(24, 23, 23);
    font-weight: 600;
}

/* <!---------------------
player information End
---------------------> */

/* <!-- -----------
Match highlights Start
------------ --> */
.highlights{
    display: flex;
    width: 80%;
    margin: 50px auto;
    align-items: center;
}

.highlight-img img{
    width: 450px;
}
.highlight-text h1{
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 3rem;
    width: 80%;
    font-weight: bold;
    color: rgb(2, 2, 61);
}
.highlight-text p{
    width: 60%;
    margin: 10px 0;
}
.highlight-text{
    margin: 0 50px;
}

/* <!-- -----------
Match highlights End
------------ --> */

/* ----------- 
Footer start
 -------------- */
 footer{
    margin: 10px 0;
    align-items: center;
    text-align: center;
 }
footer > .logo img{
    width: 300px;
    margin: 10px 0;
}
footer > .icons img{
    width: 20px;
    margin: 5px;
}
footer> p{
    font-size: 12px;
    color: black;
    font-weight: bold;
}

/* ----------- 
Footer End
 -------------- */


/* ------------ 
Media query
---------------- */

@media screen and (max-width:767px) {

    body{
        overflow-x: hidden;
    }
    button{
        padding: 10px 60px ;
    }
    /* header */
    header{
        width: 100%;
        height: 800px;
    }
    .header-main-iteam{
        flex-direction: column;
    }
    .header-main-iteam .text{
        width: 100%;
        margin-bottom: 40px;
    }
    .header-main-iteam .text h1{
        width: 100%;
    }
    .header-main-iteam img{
        width: 400px;
    }
    nav > ul> li{
        display: none; 
    }
    ul>i{
        font-size:30px ;
        color: #ffff;
    }
    .header-top-iteam .buttom > button{
        padding: 8px 20px;
    }

        /* player information */

    .player-info{
        flex-direction: column;
        
    }
    .player{
        width: 90%;
        margin: 10px auto;
    }

    .player-img img{
        width: 200px;
    }

    /* match highlight */

    .highlights{
        flex-direction: column;
        width: 100%;
    }
    .highlight-text h1{
        width: 100%;
        margin: 0;
        font-size: 2.5rem;
    }
    .highlight-text p{
        width: 100%;
    }
    .highlight-text{
        margin: 20px;
    }
}